.wrapping {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}
#icon{
	float:left;
	width: 40%;
	height:auto;
	padding-top:2%;
}
nav{
	float:right;
	width:40%;
	padding-top:3em;
	color:black;
	font-family: 'Capriola', sans-serif;
	font-size:20px;
}
nav ul{
	list-style-type:none;
	margin:0;
}
nav li{
	display:inline;
	margin-right:1em;
}
a:link {
	color:black;
	text-decoration:none;
}
a:visited {
		color:lightgrey
}
a:hover {
		color:darkgrey
}
nav hr{
	border-style:solid;
	border-width:.20em;
	border-color:#ffb97b;
	width:85%;
	float:right;
	margin-right:3em;
}
.content {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding-top:30%;
}
#mission {
	font-family: 'Capriola', sans-serif;
	text-align:center;
	padding-bottom:5em;
}
.section {
	font-family: 'Capriola', sans-serif;
	text-align:center;
	padding-top:5%;
	float:center;
	margin-left:auto;
	margin-right:auto;
}
.heading { 
	border-style:solid;
	border-width:.20em;
	border-color:#ffb97b;
	width:30%;
	float:center;
}
#about1 {
	font-family: 'Capriola', sans-serif;
	text-align:center;
	padding-top:10%;
	padding-bottom:10%;
}
#ar {
	display:block;
	width:30%;
	height:auto;
	padding-top:7%;
	margin:auto;
}
#companies1 {
	font-family: 'Capriola', sans-serif;
	text-align:center;
}
#contact1 {
	font-family: 'Capriola', sans-serif;
	text-align:center;
	padding-top:8%;
	padding-bottom:8%;
}
footer hr {
	width:100%;
	border-style:solid;
	border-color:#ffb97b;
	float:center;
	border-width:.20em;
}
footer p {
	font-family: 'Capriola', sans-serif;
	text-align:center;
}
